<div class="bg-white p-5 container">
        <h4>View Survey</h4>
            <p class="mt-5 text-center" *ngIf="success" style="color:green;font-weight:bold"> {{ success }}</p>
            <p class="mt-5 text-center" *ngIf="nodata" style="color:red;font-weight:bold">
            {{nodata}}</p>  
                <form #fullform="ngForm">
                    <table class="table">
                        <thead class="">
                </thead>
                <tbody style="text-align: center">
                    <tr id="hide1" *ngFor="let question of questions">
                        <td class="text-left">
                            <b>{{question.question}}</b><br><br>
                                <div id="text" *ngIf="question.questiontype == 'Input'">
                                    <input type="text" class="form-control">
                                </div>
                                <div id="select" *ngIf="question.questiontype == 'Dropdown'">
                                    <select class="form-control" #questiontype="ngModel" name="questiontype" [(ngModel)]="quesData.questiontype" [class.is-invalid]="questiontype.invalid && questiontype.touched" class="form-control" required >
                                        <option *ngFor="let eee of question.answer">{{eee.arrans}}</option>
                                    </select>
                                </div>
                                <div id="check"    *ngIf="question.questiontype == 'Checkboxes'">
                                    <p *ngFor="let eee of question.answer">
                                        <input type="checkbox" name="vehicle" >{{eee.arrans}}<br>
                                    </p>
                                </div>
                            </td>
                        <td style="display: flex;" *ngIf="deal !== -1">
                            <!-- <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" (click)="getviewId(question._id)">View
                            </button>&nbsp; -->
      
                            <p  id="hideEditBtn1" class="text-center viewMoreBtn button_word" routerLink="/survey/{{question._id}}">
                                <i class="fa fa-pencil" aria-hidden="true"></i><i class='fas fa-edit' style='font-size:22px;color:blue'></i>
                            </p> &nbsp;
      
                            <p id="hideDeleteBtn1" class="text-center viewMoreBtn button_word" data-toggle="modal" data-target="#myModal" data-backdrop="static"
                  data-keyboard="false" routerLink="/survey/{{question._id}}">
                                <i class='fas fa-trash-alt' style='font-size:22px;color:red'></i>
                            </p>
                        </td>
                        
                    </tr>
                         <button type="submit" class="btn btn-outline-success" (click)="full()" *ngIf="!nodata">Save</button> &nbsp;&nbsp;
                            <button type="submit" class="btn btn-outline-danger"  *ngIf="!nodata" data-toggle="modal" data-target="#myModal1">Clear All</button>
                    </tbody>
                </table>
            </form>
        </div>
<div class="container register">
  <div class="row">
      <div class="col-md-3 register-left">
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
          <h3>Welcome</h3>
      </div>

<div class="col-md-9 register-right">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h6 class="mt-5" style="color:green;text-align:center;font-weight:bold" *ngIf="success">{{allsuccess}}</h6>
                <h3 class="register-heading">Survey</h3>
                    <form #usrform="ngForm" >
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" #question="ngModel" name="question" [(ngModel)]="quesData.question" [class.is-invalid]="question.invalid && question.touched" class="form-control" required placeholder="Please Enter Question" autocomplete="off">

                                    <small class="text-danger" [class.d-none]="question.valid || question.untouched">Please Enter Question</small>
                                </div>
                            </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select class="form-control" (change)="ques()" #questiontype="ngModel" name="questiontype" [(ngModel)]="quesData.questiontype" [class.is-invalid]="questiontype.invalid && questiontype.touched" class="form-control" required >
                                    <option selected value="">Please Select Your Question Type</option>
                                    <option>Input</option>
                                    <option>Dropdown</option>
                                    <option>Checkboxes</option>
                                </select>

                                <small class="text-danger" [class.d-none]="questiontype.valid || questiontype.untouched">Please Select Question Type </small>
                            </div>
                      </div>

                    <div class="container" id="addrow" style="display:none;">
                        <table  class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>value</th>
                                    <th><button class="btn btn-default" type="button" (click)="addNotification()">Add</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr *ngFor="let quesData of answerArray; let i = index">
                                    <td>{{i+1}}</td>
                                  
                                    <td>
                                        <input [(ngModel)]="quesData.arrans" required class="form-control" type="text" name="arrans{{i}}" #arrans="ngModel" [class.is-invalid]="arrans.invalid && arrans.touched" value="{{quesData.arrans}}"  autocomplete="off"/>
                                    </td>

                                    <td>
                                        <button class="btn btn-default"  type="button" (click)="deleteNotification(i)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>

                      <input type="submit" (click)="addQuestion()" class="btnRegister" value="Add Question"  />

                        </div>
                    </form>
                </div>
            </div>
        </div>
       
    </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    <div class="modal-body">
        <p><b>{{quesData.question}}?</b></p>
        <p>{{quesData.answer}}</p>
    </div>
        <button type="submit">Save</button>
    </div>
</div>
</div>
  <!-- The Modal -->
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            Do you want to delete it?
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteQues()">Ok</button>
            <button type="button" routerLink="/survey" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <!-- delete all -->
    <!-- The Modal -->
  <div class="modal" id="myModal1">
        <div class="modal-dialog">
          <div class="modal-content">
  
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Delete Confirmation</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              Do you want to delete it?
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" id="deleteall" (click)="deleteAll()">Ok</button>
              <button type="button" routerLink="/survey" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   